.cooking-mode::backdrop {
  background-color: rgb(255, 255, 255);
}

.cooking-mode-hidden {
  display: none;
}

.cooking-mode {
  overflow-y: auto;
}

.cooking-mode ul {
  margin: 50px 20px !important;
}

.cooking-mode-wrapper {
  display: flex;
}

.cooking-mode-steps {
  width: 65vw;
  overflow-y: scroll;

  ul {
    li {
      margin-bottom: 20px;
    }
  }
}

.cooking-mode-ingredients {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  min-height: 100%;
  width: 35vw;
  background-color: $light-orange;
  line-height: 1.5em;
}
