.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard a {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 20px;
  text-decoration: none !important;
  color: $orange !important;
  background: none;
  border: 1px solid $orange !important;
  font-size: 17px;
  border-radius: 100px;
  padding: 5px;
  padding-right: 16px;
  padding-left: 16px;
  // gap: 10px;
  text-align: center;
}

h2 {
  margin-left: 20px;
}
