.show-header {
  // border: 1px solid black;
  width: 100%;
  position: relative;

}

.show-back-button {
  position: absolute;
  padding: 20px;
}

.show-favorite-button {
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0
}

.show-header img {
  width: inherit;
}

.show-main {
  margin: 0 20px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.show-title {
  margin: 30px 20px 30px 0px;
}
