<h1>Welcome <%= current_user.username %> </h1>


<% @favourites.each do |favourite| %>
  <div class="card">
    <%= image_tag(favourite.recipe.image) %>
    <%#= label_tag 'label' %>
    <%= link_to favourite.recipe.title, recipe_path(favourite.recipe), class: "card-title" %>
  </div>
<% end %>
