.my-button {
  border-radius: 100px;
  padding: 6px;
  gap: 10px;
  background-color: $light-orange;
  border: none;
  color: black
}

.my-button:target {
  background-color: $orange;
}

.my-button-show {
  width: 80px;
  font-size: 13px;
  padding: 8px;
  margin: 0 5px;
}

.my-button-show-cook {
  padding: 10px;
  margin-bottom: 20px;
  width: 170px;
}

.my-button-show-cook img {
  width: 18px;
  height: 18px;
  color: black;
}

.active {
  color: white;
  background-color: $orange;
}

.my-button-form {
  border-radius: 100px;
  padding: 8px;
  gap: 10px;
  background-color: #DB6C2D;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-bottom: 40px;
}

.exit-button {
  margin: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.my-links {
  text-decoration: none !important;
  color: $orange !important;
  background: none;
  border: 1px solid $orange !important;
  font-size: 12px;
  border-radius: 100px;
  padding: 5px;
  padding-right: 16px;
  padding-left: 16px;
  // gap: 10px;
  text-align: center;

}

.links-container {
  display: flex;
  justify-content: space-between;
  height: 28px;
}

.delete-button-container {
  display: flex;
  justify-content: center;
}


.radio-btns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.favorites-button {
  margin-top: 20px;
}
