.navbar_bottom {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: auto;
  border: 1px solid #DB6C2D;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.navbar_bottom a {
  float: left;
  display: block;
  width: 33%;
  color: #353535;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
