// search bar
.search-container {
  width: 80%;
  min-width: 237px;
  margin: 20px auto;
  display: flex;
  border-radius: 20px;
  border: 1px solid #DB6C2B;
  justify-content: space-between;
}

#search-bar {
  height: 40px;
  margin-bottom: 0;
  border-bottom: 0;

  &:focus {
    outline: none !important;
  }
}

.search-container input {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
}

.search-button {
  border: none;
  background: none;
  color: #DB6C2B;
  width: 40px
}

#search-bar::placeholder {
  color: #D1CBC8;
}
